*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Playfair', serif;
    background-color:white;


}
ul{
   
    list-style: none;
  
   
}

a{  
    text-decoration: none;
    display: inline-block;
}

/* navbar */
.container{
    width: 85%;
    margin-inline: auto;

}

.flex{
    display: flex;
}

/* Nav-bar */

.nav-container{
    justify-content: space-between;
}

nav{
    background-color: #13c0e3;
}
/* ....... */


.nav-left,.nav-right{
    color: azure;
    flex-direction: row;
    
}
.nav-list-container  {
    margin: 12px 0px;
    padding: 0px;
    align-items: center;
}
.nav-list,.con1 {
    
    margin-right: 29px;
}

.nav-item{
    display: flex;
}
.nav-list {
    color: white;
    margin-right: 40px;
}

.nav-list:hover{
    color:#86c7f6;
    border-radius: 25%;
}
/* search----------------------------> */
.logo{
    padding: 10px;
 }
 
 .search-icon{
     width: 35px;
 }
 
 .search-box{
     width: 300px;
     background:#efefef;
     margin: 10px;
     border-radius: 20px;
     padding:0 15px;
     align-items: center;
 
 }
 
 .search-box img{
     cursor: pointer;
 }
 
 .search-box input{
     background-color: transparent !important;
     border-style: none;
     outline: none;
     flex: 1;
     
 }
 /* container---------------------------- */
.container-box{
    /* margin: 20px ; */
    height: 100vh;
    width:100vw;
    background-image:url("../IMAGES/dsapicture.png");
    background-repeat: no-repeat;
    background-size: cover;
}

 .center{
    display: flex;
    align-items: center;
    justify-content: center;
} 
.transbox{
    /* margin: 30px 40px 60px 40px; */
    padding: 40px 34px;
    height: 50vh;
    width: 75vw;
    background-color:#fff;
    border: 1px solid black;

    opacity: 0.6;
  }
  .transbox:hover{
    background-color:aqua;
    opacity: 1;
    cursor: pointer;
  }
  .transbox p{
    font-size: 19px;
    color: black;
    font-weight:900px;
    
  }
  /* dropdoen-------------------> */
  .dropdown {
    display: inline-block;
    position: relative;
padding-right: 20px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4); 
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    /* color: #000000; */
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #0fd8f7;
  }
  .dropdown-content a{
    color: #FFFFFF;
    background-color: #0e3f46;
  }
  

  .button{
    
    border:0;
    margin: 20px;
    background-color: #13c0e3;
    color: #fff;
    font-family: 'Playfair', serif;
    font-size: 18px;

  }
  /* footer-section */
.text-center-footer{
    line-height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
footer{
    height: 10vh;
    background-color:var(--main-bg-color);
    color:black;
    
    background-color: #13c0e3;

}

  
  
